.shop {
  margin-top: 6vh; /* Compensate for the height of the navbar */
  height: calc(100vh - 6vh); /* Calculate the remaining viewport height */
  overflow-y: auto; /* Allow content to scroll vertically if needed */
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  justify-content: center;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.product {
  background-color: white;
  padding: 5px;
  padding-bottom: 7px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}


.product:hover {
  background-color: rgb(239, 239, 239);
}

.product img {
  width: 95%;
  margin-top: 5px;
  height: 280px; 
  border-radius: 5px;
  margin-bottom: 5px;
}

.product .description {
  font-size: 1rem;
}

.product .description .book-title,
.product .description .book-price {
  color: inherit; /* Ensure the text inherits the color of the parent element */
  text-decoration: none; /* Remove underline */
  /* margin: 0; */
  margin: 9px;
}

.product-link {
  text-decoration: none; /* Remove underline from the link */
  color: inherit; /* Inherit color from parent */
  display: block; /* Ensure the link covers the entire product content */
  width: 100%;
}

.product .addToCartBttn {
  background-color: rgb(102, 102, 195);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  width: 90%;  
}

.product .addToCartBttn:hover {
  background-color: rgb(33, 16, 86);
  border-color: rgb(33, 16, 86);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .product img {
    max-height: 350px; 
  }

  .product .description {
    font-size: 0.9rem;
  }

  .product .addToCartBttn {
    padding: 8px 16px;
  }
}
