.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  gap: 18px;
  justify-content: center;
  padding: 20px;
}

.product {
  background-color: rgb(208, 219, 223);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product img {
  width: 95%;
  margin-top: 5px;
  height: auto;
  height: 300px; 
  border-radius: 5px;
}

.product .description {
  font-size: 1rem;
}

.product .addToCartBttn {
  background-color: rgb(102, 102, 195);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  width: 100%;  
}

.product .addToCartBttn:hover {
  background-color: rgb(33, 16, 86);
  border-color: rgb(33, 16, 86);
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .product img {
    max-height: 350px; 
  }

  .product .description {
    font-size: 0.9rem;
  }

  .product .addToCartBttn {
    padding: 8px 16px;
  }
}
