.navbar {
  width: 100%;
  height: 80px;
  background-color: rgb(19, 19, 19);
  background-color: rgb(38, 14, 60);
  background-color: darkcyan;
  display: flex;
  justify-content: flex-end;
  
}

.links {
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.5rem;
}

.cartIcon {
  height: 27px;
  /* background-color: green; */
}